.graph {
  background-color: white;
  color: black;
  user-select: none;

  background: #eee;
  background-image: linear-gradient(
      rgba(200, 200, 200, 0.3) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(200, 200, 200, 0.3) 0.1em, transparent 0.1em);
  background-size: 3em 3em;
}

.node:hover {
  transform: scale(1.05);
}

.selected {
  border: 3px solid #cc0000;
}
